{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "globals": {
      "graphql": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "blockBindings": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-underscore-dangle": "warn",
    "no-unused-vars": [2],
    "prettier/prettier": "error",
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0
  }
}
