{
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "blockBindings": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-unused-vars": [2],
    "no-underscore-dangle": "warn"
  }
}
